{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "cypress"
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "no-param-reassign": 0,
    "react/react-in-jsx-scope": 0
  },
  "overrides": [
    {
      "files": ["cypress/**/*.ts"],
      "parserOptions": {
        "project": "./cypress/tsconfig.json"
      }
    }
  ]
}
